* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: #111;
  padding: 10px;
  border-right: 1px solid #222;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar input {
  width: 100%;
  padding: 8px;
  background: #000;
  color: white;
  border: 1px solid #333;
  margin-bottom: 10px;
}

.chat-item {
  padding: 8px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.user {
  text-align: right;
  margin-bottom: 10px;
}

.ai {
  text-align: left;
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #222;
}

.input-area input {
  flex: 1;
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid #333;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 15px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}

.mic {
  background: black;
  color: white;
  border: 1px solid white;
}
